* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

a,
li {
    text-decoration: none;
    list-style-type: none;
}

.logo {
    height: 100px;
    width: 100px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 50%;
}

.banner {
    height: 100vh;
    width: 100%;
    background-image: url(img/banner2.jpg);
    background-position: center;
    background-size: cover;
}

.navbar {
    display: flex;
    width: 90%;
    margin: auto;
    padding: 32px 0;
    justify-content: space-between;
    align-items: center;
}

.navbar ul li {
    display: inline-block;
    margin: 0px 20px;
}

.navbar ul li a {
    color: #fff;
    transition: .3s all ease;
    font-size: 17px;
}

.navbar ul li a:hover {
    color: #000;
}

.content {
    width: 100%;
    position: absolute;
    top: 50%;
    color: white;
    text-align: center;
}

.content h1 {
    font-size: 75px;
}

.content p {
    margin: 20px auto;
    font-size: 40px;
}

button {
    width: 200px;
    padding: 15px 0;
    border-radius: 30px;
    margin: 20px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    color: #000;
    transition: .3s all ease;
    font-size: 13px;
}

button:hover {
    transform: scale(1.1);
}